$font-family-sans-serif: 'Nunito', sans-serif;

.bg-hijau{
  background-color: #37C28F;
}

.bg-merah{
  background-color: #E76969;
}

.bg-biru{
  background-color: #69B2E7;
}

.bg-kuning{
  background-color: #FFC56F;
}
