.img-background{
  width: 250px;
  height: auto;
  position: absolute;
  left: 25%;
}

.line-details{
  background:#6749DB;
  height: 6px;
  margin-top: -5px;
  margin-left: 1.5rem;
  width: 16%;
  border: black;
}
