.login {
  align-items: center;
  display: flex;
  min-height: 100vh;

  .card-header {
    display: flex;
    align-items: center;
  }

  .login-logo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .login-title {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
}
